<div class="shot-overlay" style="" tabindex="-1">
    <a href="javascript:void(0)" class="close-overlay" aria-label="close">
        X
    </a>

    <div class="overlay-content group" style="">

        <!-- /main -->
        <div class="slat-header user ">

            <a href="/george-bokhua" title="George Bokhua" rel="contact" class="url hoverable"></a>
            <h1><%= product.title %> </h1>

            <h2 class="shot-byline">
      <span class="attribution ">
        <span class="shot-byline-user">
          by <a href="/george-bokhua" rel="contact" class="url hoverable">George Bokhua</a>
        </span>
      </span>

        <span class="shot-byline-date">
          on <a href="/shots?date=2017-02-21">Feb 21, 2017</a>
        </span>
            </h2>
        </div>
        <div class="main-shot">
            <div data-img-src="https://d13yacurqjgara.cloudfront.net/users/73294/screenshots/3306707/cardinal.png"
                 data-screenshot_id="3306707" class="the-shot">
                <div class="single group">

                </div>
            </div>
            <div class="screenshot-info-wrapper">
                <div class="screenshot-conversation">

                    <div class="shot-desc">
                        <p><%= product.description %></p>
                    </div>
                </div>
            </div>
        </div>

        <div id="kbd-legend">
            <p>keyboard shortcuts:
                <span><strong>←</strong> previous shot</span>
                <span><strong>→</strong> next shot</span>
                <span><strong>Esc</strong> close</span>
                <span><strong>L</strong> or <strong>F</strong> like</span>
                <span><strong>Z</strong> toggle zoom</span>
                <span><strong class="keyboard-submit-shortcut">ctrl+enter</strong> post comment</span>
            </p>
        </div>

        <div class="overlay-footer group">
        </div>
        <div class="thedeck loading-dock hide">
        </div>

    </div>
</div>