
<div class="search-extra ">
    <ol class="search-extra-list ">


        <li id="t-search">
            <form id="search" class="select-sort-form">
                <input type="text" class="search-text placeholder search-input" placeholder="I am looking for..." />

                <select class="villes-select select-block-level white-border " id="searcharea_expanded">

                    <option selected="" value="3">Tout le Maroc</option>

                    <option disabled="disabled" value="0" style="background-color:#dcdcc3;">-- AUTRES VILLES --</option>



                    <option value="1005" id="searcharea_expanded_fisrt_option"> Casablanca</option>

                    <option value="1013"> Agadir</option>

                    <option value="1017"> Al Hocïema</option>

                    <option value="1014"> Béni Mellal</option>

                    <option value="1007"> El Jadida</option>

                    <option value="1018"> Errachidia</option>

                    <option value="1003"> Fès</option>

                    <option value="1004"> Kénitra</option>

                    <option value="1019"> Khénifra</option>

                    <option value="1001"> Khouribga</option>

                    <option value="1020"> Larache</option>

                    <option value="1008"> Marrakech</option>

                    <option value="1009"> Meknès</option>

                    <option value="1021"> Nador</option>

                    <option value="1022"> Ouarzazate</option>

                    <option value="1010"> Oujda</option>

                    <option value="1012"> Rabat</option>

                    <option value="1002"> Safi</option>

                    <option value="1023"> Settat</option>

                    <option value="1006"> Salé</option>

                    <option value="1015"> Tanger</option>

                    <option value="1016"> Taza</option>

                    <option value="1011"> Tétouan</option>



                    <option style="color: red" value="other">Choisir une autre ville...</option>
                </select>
                <button class="form-sub search-button">Search</button>
            </form>
        </li>

        <ol class="search-extra-list search-extra-tags">

        </ol>
    </ol>
</div>
<div class="full-tabs group">
    <ul class="shot-menu full-tabs-links list-orders-items">


        <li id="a_1096" class="active">
            <a class="order-item per-order" data-order="per"  href="javascript:void(0)">Pertinence</a>
        </li>
        <li id="a_1098"><a class="order-item date-order" data-order="date" href="javascript:void(0)">Les plus récentes</a></li>

    </ul>

</div>