
<div class="search-extra ">
    <ol class="search-extra-list ">


        <li id="t-search">

            <form class="home__search search-form" id="search">
                
   
<input type="submit" class="autocomplete__submit" title="Rechercher" value="">
                <div class="autocomplete">
                    <input placeholder="Que recherchez-vous ?" class="autocomplete__hint" id="home__hint">
                </div>

 <select class="villes-select select-block-level white-border " id="searcharea_expanded">

                    <option selected="" value="3">Tout le Maroc</option>

                    <option disabled="disabled" value="0" style="background-color:#dcdcc3;">-- AUTRES VILLES --</option>

                    <option value="1005" id="searcharea_expanded_fisrt_option"> Casablanca</option>

                    <option value="1013"> Agadir</option>

                </select>
<select class="villes-select select-block-level white-border " id="searcharea_expanded">

                    <option selected="" value="3">Tout le Maroc</option>

                    <option disabled="disabled" value="0" style="background-color:#dcdcc3;">-- AUTRES VILLES --</option>

                    <option value="1005" id="searcharea_expanded_fisrt_option"> Casablanca</option>

                    <option value="1013"> Agadir</option>

                </select>
            </form>
        </li>

        <ol class="search-extra-list search-extra-tags">

        </ol>
    </ol>
</div>
<div class="full-tabs group" style="display: none">
    <ul class="shot-menu full-tabs-links list-orders-items">


        <li id="a_1096" class="active">
            <a class="order-item per-order" data-order="per"  href="javascript:void(0)">Pertinence</a>
        </li>
        <li id="a_1098"><a class="order-item date-order" data-order="date" href="javascript:void(0)">Les plus récentes</a></li>

    </ul>

</div>